<html>
    <head>
        <title>Awesome site</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="/asset/fonts/webfonts/all.css" >
        <link rel="stylesheet" href="/public/home/homepage.css"/>

    </head>
    <body>
        <div class="header">
            <div class="header-child">
				<div class="homepage-welcome">
					<span>Join us, explore what <b>Hagstat</b> offers</span>  
				</div>
                <div id="signin">
                    <a href="/login"><button>Sign in</button></a>
                </div> 
            </div>
        </div>

    </body>
</html>
