<html>
    <head>
        <title>Awesome site</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="/public/fonts/webfonts/all.css" >
        <link rel="stylesheet" href="/public/css/home/welcome.css"/>

    </head>
    <body>
        <div class="header">
            <div class="header-child">
                <a href="/login"><button>Login Or Signup to continue &nbsp;&nbsp;&nbsp;<i class="fas fa-chevron-right"></i></button></a>
            </div>
        </div>

        <div class="photostat">
            <button ><h1>Photostat  <i class="fas fa-camera"></i> </h1></button>
        </div>

        <div class="home-page">
            <div id="breaks"></div>
            <div class="image">
                <p><i class="fas fa-camera"></i>  Post images with clickable tags that explains each photo</p>
                <div id="image">
                    <img src="/public/stat/boc.jpeg" >
                    <img src="/public/stat/ab.jpeg" >
                </div>
    
                <div id="tags">
                    <button>#BOC</button>
                    <button>#Dj-ab</button>
                </div>
            </div>
    
            <div class="kaya-image">
                <p><i class="fa fa-shopping-cart"></i>  Sell products on Photostat</p>
                <div id="image">
                    <img src="/public/stat/kaya1.jpeg" >
                    <img src="/public/stat/kaya2.jpeg" >
                    <img src="/public/stat/kaya3.jpeg" >
                </div>
    
                <div id="tags">
                    <button>#Gizna</button>
                    <button>#buzu-yard</button>
                    <button>#Shadda</button>
                </div>
            </div>
    
            <div class="tags">
                <p><i class="fas fa-edit"></i> Use tags for your explanations</p>
                <div id="tags">
                    <button>#Technology</button>
                    <button>#Webdevelopment</button>
                    <button>#Softwaredevelopemnt</button>
                </div>
    
                <div id="explain">
                    <p>Technology is the sum of any techniques, skills, methods, and processes used in the production of goods or services or in the accomplishment of objectives, such as scientific investigation</p>
                </div>
    
            </div>

            <div id="breaks"></div>
        </div>
       
    </body>
</html>