<html>
    <head>
        <title>Awesome site</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script src="http://code.jquery.com/jquery-3.1.0.min.js" type="text/javascript"></script>
        <link rel="stylesheet" href="/public/fonts/webfonts/all.css" >
        <link rel="stylesheet" href="/public/css/edit/editprofile.css"/>

    </head>
    <body>
        <div class="header">
            <div class="header-child">
                <div id="div">
                    <a href="/user/"><span><b>Photostat</b></span></a>
                </div>

                <div id="slogan">
                    <span ><i class='fas fa-pen'></i> Edit profile</span>
                </div>
            </div>
        </div>

        <div class="google-edit-homepage">
            
            <div id="username">
                <button><p>Username from <i class="fab fa-google"></i><b>00gle</b></p> <span style="text-transform:uppercase;">{{.Username}}</span></button>
            </div>

            <div id="username">
                <button><p>gmail from <i class="fab fa-google"></i><b>00gle</b></p> <span style="text-transform:uppercase;"> {{.Email}}@gmail.com</span></button>
            </div>

        </div>

    </body>
</html>

